<mat-tab-group animationDuration="500ms" style="height: 120vh" class="tabss">
  <mat-tab label="Balances" class="tab-ancho tab">
    <h3 class="titulo">Resumen de gastos</h3>
    <div class="chart-container graficas">
      <ngx-charts-bar-horizontal
        [results]="chartData"
        [xAxis]="false"
        [yAxis]="true"
        [gradient]="false"
        [animations]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [barPadding]="20"
        xAxisLabel="Cantidad (€)"
        yAxisLabel="Persona"
        [customColors]="customColors"
        [tooltipDisabled]="true"
        [showDataLabel]="true"
        [showGridLines]="true"
        [roundEdges]="true"
        [dataLabelFormatting]="dataLabelFormatting"
      >
      </ngx-charts-bar-horizontal>
    </div>

    <div class="payments-container">
      <table
        mat-table
        [dataSource]="transactions"
        class="mat-elevation-z8 tabla"
      >
        <!-- Deudor Column -->
        <ng-container matColumnDef="debtor">
          <th mat-header-cell *matHeaderCellDef class="nombre cabecera">
            Deudor
          </th>
          <td mat-cell *matCellDef="let transaction" class="nombre">
            {{ transaction.debtor }}
          </td>
        </ng-container>

        <!-- Pagador Column -->
        <ng-container matColumnDef="creditor">
          <th mat-header-cell *matHeaderCellDef class="pagador cabecera">
            Pagador
          </th>
          <td mat-cell *matCellDef="let transaction" class="pagador">
            {{ transaction.creditor }}
          </td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="cantidad cabecera">
            Cantidad
          </th>
          <td mat-cell *matCellDef="let transaction" class="cantidad">
            {{ transaction.amount | currency: "EUR" }}
          </td>
        </ng-container>

        <!-- Header Row Definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Row Definition -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <!-- Sección de Presupuesto -->
    <h3 class="titulo">Mi presupuesto</h3>
    <div class="budget-container">
      <div class="circle-chart-container">
        <ngx-charts-pie-chart
          [results]="budgetData"
          [doughnut]="true"
          [arcWidth]="0.25"
          [animations]="true"
          [customColors]="customColors2"
          [gradient]="false"
          [labels]="showLabels"
        >
        </ngx-charts-pie-chart>
      </div>
      <div class="spending-details">
        <div style="display: flex; flex-direction: row">
          <div class="spent">
            <p style="font-size: 16px; font-weight: bold">Activos</p>
            <h3>{{ spentAmount | currency: "EUR" }}</h3>
          </div>
          <div class="budget-info">
            <div class="budget-amount">
              <p style="font-size: 16px; font-weight: bold">Disponible</p>
              <h3>{{ availableAmount | currency: "EUR" }}</h3>
            </div>
          </div>
        </div>
        <div class="days-left">
          <p style="font-size: 16px; font-weight: bold">Días restantes</p>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              margin-top: -2vh;
            "
          >
            <mat-icon style="margin-right: 10px; font-size: 26px"
              >event</mat-icon
            >
            <h3 style="font-size: 26px">{{ daysLeft }}</h3>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Expenses">
    <div class="expenses-container">
      <mat-list-item *ngFor="let expense of expenses" class="elemento-lista">
        <div class="list-item-content">
          <div class="expense-details">
            <h3 class="expense-title">
              {{ expense.title }}
            </h3>
            <p class="expense-paid-by">
              Paid by <strong>{{ expense.paidBy }}</strong> to
              <strong>{{ expense.paidFor }}</strong> on
              {{ expense.date | date: "mediumDate" }}
            </p>
          </div>
          <div class="amount-and-buttons">
            <span class="expense-amount">
              {{ expense.amount | currency: "EUR" }}
            </span>
            <div class="buttons-container">
              <button mat-icon-button class="delete-button" (click)="borrarPago(expense.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-list-item>
      <div class="pack-bajo colores">
        <p class="total">
          TOTAL PAGADO POR MI:
          <strong>{{ getTotalPaidByCurrentUser() | currency: "EUR" }}</strong>
        </p>
        <div style="width: 20%; display: flex; justify-content: center">
          <button
            mat-fab
            class="boton-add"
            color="accent"
            (click)="openAddExpenseDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <p class="total">
          TOTAL ACUMULADO:
          <strong>{{ getTotalAccumulated() | currency: "EUR" }}</strong>
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
