:host {
  display: block;
  padding: 20px;
  background-color: #f0f4f8;
  font-family: "Roboto", sans-serif;
  overflow: hidden !important;
}

::ng-deep {
  body {
    overflow: hidden !important;
  }
}

.mat-tab-group {
  width: 100%;
  display: block;
}

::ng-deep {
  mat-tab-header {
    font-weight: bold;
  }
}

.mat-list {
  overflow-y: auto;
  flex-grow: 1;
}

.expenses-container {
  position: relative;
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(80vh - 100px);
  overflow-y: auto;
}

.graficas,
.payments-container {
  margin-top: 40px;
}

.lista {
  padding: 20px;
  margin-bottom: 25px;
}

.chart-container {
  height: 25vh;
}

.list-item-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-details {
  flex-grow: 1;
}

.expense-title {
  font-size: 16px;
  color: #009fb7;
  font-weight: bold;
  margin-bottom: 5px;
}

.expense-paid-by {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.expense-amount {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.pack-bajo {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}

.elemento-lista {
  height: fit-content !important;
  margin-bottom: 12px !important;
}

.boton-add {
  bottom: 25px;
}

.colores {
  background: #009fb7;
  z-index: 10000;
  padding: 0 22px;
  margin-left: -20px;
  color: white !important;
}

.total {
  width: 40%;
  text-align: center;
  font-size: 16px;
}

.boton-pagar {
  color: white !important;
  border-radius: 8px;
}

.budget-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
}

.circle-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 20vh;
}

.spending-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.spent,
.budget-amount,
.days-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.spent h3,
.budget-amount h3,
.days-left h3 {
  color: #009fb7;
  font-weight: bold;
}

.spent {
  margin-right: 20px;
}

.days-left mat-icon {
  font-size: 24px;
  color: #009fb7;
  width: 100%;
}

.titulo {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(140, 134, 134);
}

.tab {
  overflow-y: auto !important;
  padding-bottom: 20vh !important;
}

::ng-deep .tabss {
  .mat-mdc-tab-body {
    height: 80vh !important;
    overflow-y: auto;
  }
}

@media (max-width: 600px) {
  .mat-list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .expense-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .boton-add {
    scale: 0.8;
  }

  .pack-bajo {
    width: 90%;
    bottom: 45px;
  }

  .total {
    font-size: 14px;
  }

  ::ng-deep .tabss {
    .mat-mdc-tab-body {
      height: 75vh !important;
      overflow-y: auto;
    }
  }

  .tabss {
    height: 120vh;
  }
}

::ng-deep {
  text {
    font-size: 16px !important;
    margin: 10px;
  }
}

.deudor,
.pagador {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.cantidad {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.pagar {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.cabecera {
  background-color: #e0e0e0 !important;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.boton-pagar {
  color: #009fb7 !important;
}

.mat-icon {
  color: inherit;
}

.elemento-lista {
  display: flex;
  flex-direction: column;
}

.list-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expense-details {
  flex: 1;
  width: 70%;
  min-width: 70%;
  max-width: 70%;
  margin-left: 14px;
}

.amount-and-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 8px;
}

.expense-amount {
  flex-shrink: 0;
  margin-right: 16px;
}

.buttons-container {
  display: flex;
  gap: 8px;
}

.buttons-container button {
  color: rgba(240, 74, 74, 0.8);
}

.edit-button {
  color: #009fb7 !important;
}

@media (min-width: 600px) {
  .list-item-content {
    flex-direction: row;
    align-items: center;
  }

  .amount-and-buttons {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
  }

  .expense-amount {
    margin-right: 0;
  }
}
