<form [formGroup]="pagoForm">
    <mat-form-field appearance="fill">
      <mat-label>Total</mat-label>
      <input matInput type="number" formControlName="total" placeholder="Total" (keypress)="onKeyPress($event)">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Pagador</mat-label>
      <mat-select formControlName="idPagador">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
          {{usuario.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Deudores</mat-label>
      <mat-select formControlName="idDeudores" multiple (selectionChange)="onDeudoresChange($event)">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
          {{usuario.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  