<div class="ticket-container" [ngClass]="{'mobile': !isDesktop, 'desktop': isDesktop}">
    <div class="ticket-banner" [style.background-image]="'url(' + getBannerImage(category) + ')'"></div>
    <div class="ticket-info">
        <div class="event-header">
            <span class="event-name">{{ event.name }}</span>
            <mat-chip class="category-chip" [ngStyle]="{'background-color': getChipColor(category)}">
                <div class="chip">
                    <mat-icon>{{ getCategoryIcon(category) }}</mat-icon>
                    {{ category | uppercase }}
                </div>
            </mat-chip>
        </div>
        <div class="event-details" [ngClass]="{'desktop-layout': isDesktop}">
            <div class="event-location-time">
                <div class="ubicacion">
                    <mat-icon>map</mat-icon>
                    <span style="margin-bottom: 0;">{{ event.location }}</span>
                </div>
                <span class="fechas">{{ event.startTime | date: 'short' }} - {{ event.endTime | date: 'short' }}</span>
            </div>
            <div class="event-description">
                {{ event.description | slice:0:300 }}
                <span *ngIf="showFullDescription">{{ event.description.slice(300) }}</span>
                <mat-icon (click)="toggleDescription()" class="more">
                  {{ showFullDescription ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </div>
            <div *ngIf="event.qrCode && isDesktop" class="qr-code">
                <img [src]="event.qrCode" alt="QR Code">
            </div>
        </div>
        <div *ngIf="event.qrCode && !isDesktop" class="qr-code-mobile">
            <img [src]="event.qrCode" alt="QR Code">
        </div>
        <hr>
        <div class="enjoy-message">Disfruta ;)</div>
    </div>
</div>
