<div class="dialog">
    <div mat-dialog-title class="header">
        <h3>Detalle del Plan</h3>
        <button mat-icon-button class="close-button" (click)="cancelar()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    <div mat-dialog-content>
        <div class="container">
            <mat-form [formGroup]="planForm">
                <div class="row datos-generales">
                  <h5>Datos Generales</h5>
                  <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Descripcion</mat-label>
                      <textarea matInput formControlName="descripcion"></textarea>
                  </mat-form-field>
                  <app-star-rating [rating]="importancia" (ratingChange)="saveChanges($event, 'importancia')"></app-star-rating>
                </div>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Horario </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-horario #horario (horarioChange)="saveChanges($event, 'horario')" ></app-horario>
                </mat-expansion-panel>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Ubicación </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-ubicacion #ubicacion (ubicacionChange)="saveChanges($event, 'ubicacion')"></app-ubicacion>
                </mat-expansion-panel>
              </mat-form>
        </div>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
      <button mat-raised-button color="warn" class="delete-button" (click)="borrar()">Borrar Plan</button>
      <button mat-raised-button color="primary" class="save-button" (click)="guardar()">Guardar</button>
    </div>
</div>