<div class="dialog">
    <div mat-dialog-title class="header">
        <h3>Detalle del Plan</h3>
        <button mat-icon-button class="close-button" (click)="cancelar()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    <div mat-dialog-content>
        <div class="container">
            <mat-form [formGroup]="planForm">
                <div class="row datos-generales">
                  <h5>Datos Generales</h5>
                  <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Descripcion</mat-label>
                      <textarea matInput formControlName="descripcion"></textarea>
                  </mat-form-field>
                  <app-star-rating (ratingChange)="saveChanges($event, 'valoracion')"></app-star-rating>
                </div>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Horario </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-horario #horario (horarioChange)="saveChanges($event, 'horario')" ></app-horario>
                </mat-expansion-panel>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Ubicación </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-ubicacion #ubicacion (ubicacionChange)="saveChanges($event, 'ubicacion')"></app-ubicacion>
                </mat-expansion-panel>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Pago </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-pago #pago (pagoChange)="saveChanges($event, 'pago')"></app-pago>
                </mat-expansion-panel>
          
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Tickets </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
          
                <!--
                <div class="row">
                  <div class="col-half">
                    <h4>Date of Birth</h4>
                    <div class="input-group">
                      <div class="col-third">
                        <input type="text" placeholder="DD" />
                      </div>
                      <div class="col-third">
                        <input type="text" placeholder="MM" />
                      </div>
                      <div class="col-third">
                        <input type="text" placeholder="YYYY" />
                      </div>
                    </div>
                  </div>
                  <div class="col-half">
                    <h4>Gender</h4>
                    <div class="input-group">
                      <input id="gender-male" type="radio" name="gender" value="male" />
                      <label for="gender-male">Male</label>
                      <input
                        id="gender-female"
                        type="radio"
                        name="gender"
                        value="female"
                      />
                      <label for="gender-female">Female</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h4>Payment Details</h4>
                  <div class="input-group">
                    <input
                      id="payment-method-card"
                      type="radio"
                      name="payment-method"
                      value="card"
                      checked="true"
                    />
                    <label for="payment-method-card"
                      ><span><i class="fa fa-cc-visa"></i>Credit Card</span></label
                    >
                    <input
                      id="payment-method-paypal"
                      type="radio"
                      name="payment-method"
                      value="paypal"
                    />
                    <label for="payment-method-paypal">
                      <span><i class="fa fa-cc-paypal"></i>Paypal</span></label
                    >
                  </div>
                  <div class="input-group input-group-icon">
                    <input type="text" placeholder="Card Number" />
                    <div class="input-icon"><i class="fa fa-credit-card"></i></div>
                  </div>
                  <div class="col-half">
                    <div class="input-group input-group-icon">
                      <input type="text" placeholder="Card CVC" />
                      <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                  </div>
                  <div class="col-half">
                    <div class="input-group">
                      <select>
                        <option>01 Jan</option>
                        <option>02 Jan</option>
                      </select>
                      <select>
                        <option>2015</option>
                        <option>2016</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h4>Terms and Conditions</h4>
                  <div class="input-group">
                    <input id="terms" type="checkbox" />
                    <label for="terms"
                      >I accept the terms and conditions for signing up to this service,
                      and hereby confirm I have read the privacy policy.</label
                    >
                  </div>
                </div>
                -->

              </mat-form>
        </div>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-raised-button color="primary" class="save-button" (click)="guardar()">Guardar</button>
    </div>
</div>