<div class="travel-container">
  <div class="header">
    <h1>Mis Viajes</h1>
  </div>
  
  <mat-divider class="divisor"></mat-divider>
  <div class="profile-grid">
    <div class="profile" *ngFor="let travel of travels" 
         [style.backgroundImage]="'url(' + travel.imagen + ')'" (click)="setAsTravel(travel.id)">
        <button class="borrar" mat-icon-button (click)="deleteTravel(travel.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="edit" mat-icon-button (click)="editTravel(travel.id)">
          <mat-icon>edit</mat-icon>
        </button>
      <div class="overlay">
        <div class="title">{{ travel.titulo }}</div>
      </div>
    </div>
  </div>
  
  <button mat-fab class="add-travel-button" (click)="addNewTravel()">
    <mat-icon>add</mat-icon>
  </button>
</div>