<h1 mat-dialog-title class="titulo">Mis Tickets</h1>
<mat-divider></mat-divider>

<div class="container">
  <div class="row card">
    <div class="col-md-4" *ngFor="let ticket of tickets" (click)="openTicket(ticket.id)">
      <mat-card class="card">
        <mat-card-header class="cabecera" [ngStyle]="{'color': getCategoryColor(ticket.categoria)}">
            <mat-card-title class="evento">
                <mat-icon style="margin-right: 5px;">{{ getCategoryIcon(ticket.categoria) }}</mat-icon>
                {{ ticket.nombre }}</mat-card-title>
        </mat-card-header>
        <div class="info">
            <div class="img-cont">
                <img class="foto"src="{{ getBannerImage(ticket.categoria) }}" alt="Imagen del evento">
            </div>
            <mat-card-content style="margin-top: 2vw;">
                <div class="apartado">
                    <p style="font-weight: bold; color: #009fb7; margin:0 !important;">Ubicación:</p>
                    <p style="margin: 0 !important;">{{ ticket.ubicacion.direccion.length >18 ? ticket.ubicacion.direccion.slice(0,18) + '...' : ticket.ubicacion.direccion }}</p>
                </div>
                <div class="apartado">
                    <p style="font-weight: bold; color: #009fb7; margin: 0 !important;">Duracion:</p> 
                    <p style="margin: 0 !important;">{{ ticket.horario.inicio | date: 'HH:mm'}} - {{ ticket.horario.fin | date: 'HH:mm' }}</p>
                </div>
                <div class="apartado" *ngIf="isDesktop">
                    <p style="font-weight: bold; color: #009fb7; margin: 0 !important;">Descripción:</p> 
                    <p style="margin: 0 !important;">{{ ticket.descripcion.length >300 ? ticket.descripcion.slice(0,300) + '...' : ticket.descripcion }}</p>
                </div>
            </mat-card-content>
       </div>
      </mat-card>
    </div>
  </div>
</div>
