<header style="display: flex; justify-content: space-between; align-items: center; background-color: white; padding: 10px 20px;">
    <div style="display: flex; align-items: center;">
      <div class="cabecera-titulo">
        <img src="../../../assets/main_logo.png" alt="Logo" class="app-logo">
        <span class="app-title">TripPlanner</span>
      </div>
    </div>
    <div class="derecha">
      <select class="select">
        <option value="es">Viaje 1</option>
        <option value="en">Viaje 2</option>
      </select>
      <mat-icon class="boton-menu" [matMenuTriggerFor]="menu">person_outline</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </header>

<!-- menu-inferior.component.html -->
<div class="bottom-nav">
  <div class="nav-item" *ngFor="let link of links" (click)="navigate(link.url)" 
       [ngClass]="{'active': activeLink === link.url}">
    <mat-icon class="icono" [ngClass]="{'active-icon': activeLink === link.url}">{{ link.icon }}</mat-icon>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
