@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}



@import "@angular/material/theming";
@include mat-core();

:root {
    --primary: #009fb7ff;
    --accent: #fed766ff;
}

$my-custom-primary: (
    50 : #009fb7ff,
    100 : #009fb7ff,
    200 : #009fb7ff,
    300 : #009fb7ff,
    400 : #009fb7ff,
    500 : #009fb7ff,
    600 : #009fb7ff,
    700 : #009fb7ff,
    800 : #009fb7ff,
    900 : #009fb7ff,
    A100 : #fed766ff,
    A200 : #fed766ff,
    A400 : #fed766ff,
    A700 : #fed766ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($my-custom-primary);
$my-app-accent:  mat-palette($my-custom-primary, A200, A100, A400);
$my-app-warn:    mat-palette($my-custom-primary);

$my-app-theme: mat-light-theme(
    (
        color: (
            primary: $my-app-primary,
            accent: $my-app-accent,
            warn: $my-app-warn,
        ),
    )
);

@include angular-material-theme($my-app-theme);