@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}


/* Colores tema aplicación: */
$raisin-black: #272727ff;
$mustard: #fed766ff;
$moonstone: #009fb7ff;
$dim-gray: #696773ff;
$antiflash-white: #eff1f3ff;